<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ADMIN HOME</title>
 <link rel="stylesheet" type="text/css" th:href="@{adminhome.css}">
</head>
<body>
   <p>Admin home</p>
 
   

   
   <form action="newsong" >
   <input type="submit" value="ADD SONGS">
   </form>
   <br><br>
   
  <!--    <form action="viewsongs">
   <input type="submit" value="VIEW SONGS">
   </form>-->
   <h1>View Songs</h1>
   <a href="viewSongs">click here to view songs</a>
   
   <br><br>
   
    
   <form action="createplaylists" >
   <input type="submit" value="CREATE PLAYLISTS">
   </form>
   <br></br>
   
   <form action="viewplaylists" >
   <input type="submit" value="VIEW PLAYLISTS">
   </form>
   

</body>
</html>